.root {
position: relative;
display: flex;
width: calc(100% - 400px);
flex-direction: column;
margin: auto;
  background-color: black;
  font-family: 'Inter';
  padding-bottom: 194px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1024px) {
  .root {
    padding-bottom: 140px;
  }
}
